/**
 * Variables
*/

/* Colors */
$black: #000;
$white: #fff;
$white-input: #f6f6f6;
$red: #eb4a46;
$green: #00c8b3;
$gray: #dddcdc;
$default: #efeeed;
$dev-black: #333333;

/* Font */
$font-family: 'Roboto', sans-serif;
$fs-small: 1.2rem;
$fs-default: 1.6rem;
$fs-large: 2rem;

/* Transitions */
$transition-default: all .2s ease-out;

/* Effects */
$hover-opacity: 0.7;
